[submodule "GPT_SoVITS"]
	path = third_party/GPT_SoVITS
	url = https://github.com/RVC-Boss/GPT-SoVITS
[submodule "third_party/DMOSpeech2"]
	path = third_party/DMOSpeech2
	url = https://github.com/yl4579/DMOSpeech2
