PySide6==6.8.3
faster-whisper==1.1.1
huggingface_hub>=0.34.3
PySide6-Fluent-Widgets==1.7.7
fastapi
av==14.3.0
einops
flashy==0.0.2
hydra-core>=1.3.2
hydra_colorlog
julius
num2words
numpy==1.26.4
sentencepiece
transformers>=4.55.0
xformers>=v0.0.30
torchmetrics
demucs
encodec
protobuf>=6.31.1
pesq
pystoi
torchtext==0.18.0
onnxruntime-gpu==1.21.1
onnx==1.18.0
pydantic==2.11.3
python-ffmpeg==2.0.12
python-Levenshtein>=0.25.1
praat-parselmouth==0.4.5
pyworld==0.3.4
sounddevice>=0.4.7
soundfile==0.12.1
spacy>=3.7.5
torchcrepe>=0.0.2
tqdm>=4.66.5
unidic-lite>=1.0.8
uvicorn>=0.29.0
hangul_romanize
word2number
librosa>=0.11.0
local_attention>=1.11.1
pydub
setuptools
wheel
scipy
tensorboard
numba==0.61.2
pytorch-lightning
ffmpeg-python
funasr==1.2.6
cn2an
pypinyin
pyopenjtalk
g2p_en
modelscope==1.10.0
chardet
PyYAML
psutil
jieba_fast
jieba
LangSegment>=0.2.0
wordsegment
munch
uvicorn
einops_exts
edge-tts
elevenlabs
pip-system-certs
ctranslate2
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
nltk==3.9.1
torchfcpe
phonemizer
diffusers
unidecode
torchlibrosa
ftfy
timm
noisereduce
torchdiffeq==0.2.5
x-transformers
vocos
bitsandbytes
safetensors
datasets
transformers_stream_generator
ema_pytorch>=0.5.2
triton-windows>=3.3
pywin32==308
deepspeed==0.16.5
descript-audio-codec
vllm==0.9.1
diffusers
torchsde
snac
torchtune
torchao
vector_quantize_pytorch
descript-audiotools>=0.7.2
flash-attn @ https://github.com/kingbri1/flash-attention/releases/download/v2.7.4.post1/flash_attn-2.7.4.post1+cu128torch2.7.0cxx11abiFALSE-cp311-cp311-win_amd64.whl
exllamav2 @ https://github.com/turboderp-org/exllamav2/releases/download/v0.2.9/exllamav2-0.2.9+cu128.torch2.7.0-cp311-cp311-win_amd64.whl
monotonic_align @git+https://github.com/resemble-ai/monotonic_align.git
fast_langdetect
split_lang
peft
descript-audio-codec
dacite
resemble-perth
s3tokenizer
conformer