PySide6==6.7.2
whisperx>=3.1.1
faster-whisper==1.0.2
huggingface_hub==0.23.4
PySide6-Fluent-Widgets==1.6.0
fastapi
av==11.0.0
einops
flashy==0.0.2
hydra-core>=1.1
hydra_colorlog
julius
num2words
numpy<=1.26.4
sentencepiece
transformers>=4.31.0
xformers==v0.0.25.post1
torchmetrics
demucs
soundfile
encodec
protobuf
pesq
pystoi
torchtext==0.17.2
onnxruntime-gpu==1.18.1
pydantic==2.7.4
python-ffmpeg==2.0.12
python-Levenshtein>=0.25.1
praat-parselmouth==0.4.4
pyworld==0.3.4
sounddevice>=0.4.7
soundfile==0.12.1
spacy>=3.7.5
torchcrepe>=0.0.2
tqdm>=4.66.5
unidic-lite>=1.0.8
uvicorn>=0.29.0
hangul_romanize
word2number
librosa>=0.10.2.post1
local_attention>=1.9.14
pydub
coqui-tts>=0.24.1
setuptools
wheel
scipy
tensorboard
numba==0.59.1
pytorch-lightning
ffmpeg-python
funasr==1.0.30
cn2an
pypinyin
pyopenjtalk
g2p_en
modelscope==1.10.0
chardet
PyYAML
psutil
jieba_fast
jieba
LangSegment>=0.2.0
wordsegment
munch
uvicorn
einops_exts
edge-tts
elevenlabs
pip-system-certs
./wheels/fairseq-0.12.4-cp311-cp311-win_amd64.whl;
./wheels/deepspeed-0.14.0+ce78a63-cp311-cp311-win_amd64.whl;
./wheels/flash_attn-2.6.1+cu122torch2.2.2cxx11abiFALSE-cp311-cp311-win_amd64.whl
./wheels/monotonic_align-1.2-cp311-cp311-win_amd64.whl
./wheels/triton-2.1.0-cp311-cp311-win_amd64.whl
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
nltk==3.8.1
torchfcpe
phonemizer