PySide6==6.7.2

faster-whisper==1.0.2
huggingface_hub==0.23.4
PySide6-Fluent-Widgets==1.6.0
fastapi
av==11.0.0
einops
flashy==0.0.2
hydra-core>=1.1
hydra_colorlog
julius
num2words
numpy==1.26.4
sentencepiece
transformers>=4.44.0
xformers==v0.0.25.post1
torchmetrics
demucs
soundfile
encodec
protobuf
pesq
pystoi
torchtext==0.17.2
onnxruntime-gpu==1.18.1
pydantic==2.7.4
python-ffmpeg==2.0.12
python-Levenshtein>=0.25.1
praat-parselmouth==0.4.4
pyworld==0.3.4
sounddevice>=0.4.7
soundfile==0.12.1
spacy>=3.7.5
torchcrepe>=0.0.2
tqdm>=4.66.5
unidic-lite>=1.0.8
uvicorn>=0.29.0
hangul_romanize
word2number
librosa>=0.10.2.post1
local_attention>=1.9.14
pydub
setuptools
wheel
scipy
tensorboard
numba==0.59.1
pytorch-lightning
ffmpeg-python
funasr==1.0.30
cn2an
pypinyin
pyopenjtalk
g2p_en
modelscope==1.10.0
chardet
PyYAML
psutil
jieba_fast
jieba
LangSegment>=0.2.0
wordsegment
munch
uvicorn
einops_exts
edge-tts
elevenlabs
pip-system-certs
ctranslate2
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
nltk==3.8.1
torchfcpe
phonemizer
diffusers
unidecode
torchlibrosa
ftfy
timm
accelerate
noisereduce
pedalboard